:root {
  --font-family: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  position: relative;
  padding: 0px;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  height: 100%;
  display: block;
}

main {
  padding: 40px 20px;
  background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);
}
@media screen and (min-width: 768px) {
  main {
    max-height: 874px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    max-height: 885px;
    padding: 0;
  }
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  main .container {
    flex-direction: column;
    padding-left: 10px;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  main .container {
    flex-direction: column;
    padding: 60px 40px 0px 150px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
main .container .header {
  margin-right: auto;
}
main .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  main .container .wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
main .container .wrapper .content {
  order: 1;
  padding: 0px 20px 52px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media screen and (min-width: 768px) {
  main .container .wrapper .content {
    order: 0;
  }
}
main .container .wrapper .content .title {
  width: 311px;
  color: #423A3A;
  text-align: center;
  font-family: var(--font-family);
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 10.825px;
  text-transform: uppercase;
}
main .container .wrapper .content .title span {
  color: #CE9898;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  main .container .wrapper .content .title {
    width: 444px;
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 17.321px;
    text-align: left;
  }
}
main .container .wrapper .content .description {
  width: 311px;
  color: #CE9898;
  text-align: center;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  main .container .wrapper .content .description {
    width: 444px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
  }
}
main .container .wrapper .content form {
  position: relative;
}
main .container .wrapper .content form input {
  width: 311px;
  height: 48px;
  border-radius: 28px;
  border: 1px solid #CE9898;
  outline: none;
  opacity: 0.5;
  padding: 0 25px;
  position: relative;
}
main .container .wrapper .content form input ::-moz-placeholder {
  color: #CE9898;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
main .container .wrapper .content form input ::placeholder {
  color: #CE9898;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  main .container .wrapper .content form input {
    width: 445px;
    height: 56px;
  }
}
main .container .wrapper .content form button {
  width: 70px;
  height: 48px;
  background: linear-gradient(33deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  outline: none;
  border-radius: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0%;
  cursor: pointer;
}
main .container .wrapper .content form button:hover, main .container .wrapper .content form button:focus {
  background: rgba(198, 110, 110, 0.5);
  box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
}
@media screen and (min-width: 768px) {
  main .container .wrapper .content form button {
    width: 100px;
    height: 56px;
  }
}
main .container .wrapper .content form button img {
  width: 19px;
  height: 24px;
}
main .container .wrapper .content form .error-icon {
  display: none;
  position: absolute;
  top: 31%;
  left: -29px;
  height: 20px;
}
main .container .wrapper .content form .error-message {
  color: #F96464;
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 25px;
  padding-top: 10px;
  display: none;
}
main .container .wrapper .image-container {
  width: 350px;
}
main .container .wrapper .image-container img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  main .container .wrapper .image-container img {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  main .container .wrapper .image-container {
    width: 610px;
    height: 800px;
  }
}/*# sourceMappingURL=style.css.map */