:root {
    --very-dark-blue: hsl(234, 12%, 34%);
    --font-family: 'Poppins', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 1440px;
    position: relative;
    padding: 0px;
}
  

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
  height: 100%;
  display: block;
}

main {
    padding: 40px 20px;
    background: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);

    @media screen and (min-width:768px) {
        max-height: 874px;
    }

    @media screen and (min-width:1200px) {
        max-height: 885px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        @media screen and (min-width:768px) {
            flex-direction: column;
            padding-left: 10px;
            gap: 0;
        }
        @media screen and (min-width:1200px) {
            flex-direction: column;
            padding-left: 150px;

            background-image: url('./images/bg-pattern-desktop.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .header {
            margin-right: auto;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width:768px) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
            }

            .content {
                order: 1;
                padding: 0px 20px 52px;
    
                display: flex;
                flex-direction: column;
                gap: 23px;
    
                @media screen and (min-width:768px) {
                    order: 0;
                }
                
                .title {
                    width: 311px;
                    color: #423A3A;
                    text-align: center;
                    font-family: Josefin Sans;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 42px;
                    letter-spacing: 10.825px;
                    
                    span {
                        color: #CE9898;
                    }
                    @media screen and (min-width:768px) {
                        width: 444px;
                        font-size: 64px;
                        font-weight: 300;
                        line-height: 64px;
                        letter-spacing: 17.321px;
                        text-align: left;

                    }
                }
                
                .description {
                    width: 311px;
                    color: #CE9898;
                    text-align: center;
                    font-family: Josefin Sans;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
    
                    @media screen and (min-width:768px) {
                        width: 444px;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: left;
                    }
                }
                
                form {
                    position: relative;
                    
                    input {
                        width: 311px;
                        height: 48px;
                        
                        border-radius: 28px;
                        border: 1px solid #CE9898;
                        outline: none;
                        opacity: 0.5;
                        
                        padding: 0 18px;
                        position: relative;
                        
                        ::placeholder {
                            color: #CE9898;
                            font-family: Josefin Sans;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 28px; 
                            
                            opacity: 0.5;
                        }

                        @media screen and (min-width:768px) {
                            width: 445px;
                            height: 56px;
                        }
                    }
                    
                    button {
                        width: 70px;
                        height: 48px;
                        background: linear-gradient(33deg, hsl(0, 80%, 86%, 1), hsl(0, 74%, 74%));
                        border: none;
                        outline: none;
                        border-radius: 28px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0%;
                        
                        @media screen and (min-width:768px) {
                            width: 100px;
                            height: 56px;
                        }

                        img {
                            width: 19px;
                            height: 24px;
                        }
                        
                    }
                    .error-icon {
                        display: none !important;
                    }
                }
            }
            
            .image-container {
                width: 350px;
                
                img {
                    width: 100%;
    
                    @media screen and (min-width:768px) {
                        width: auto;
                    }
                }
    
                @media screen and (min-width:768px) {
                    width: 610px;
                    height: 800px;
                }
            }
    }
    }



}